:root {
  --black-featured-card: #000000cc;
  --black: #000;
  --gray-basic-text: #5c5c5c;
  --gray-conference-text: #838383;
  --gray-decor-elem: #eaedf4;
  --gray-request-btn: #1c1c1c00;
  --lightgray-border: #5c5c5c1a;
  --white: #fff;
  --white-featured-text: #bfbfbf;
  --white-request-btn-hover: #ffffff26;
  --green-link-btn: #64be97;
  --green-slider-bg: #55b089;
  --green-player-shadow: #4bca678f;
  --lightgreen-btn: #97f5cd;
  --lightgreen-blog-bg: #d6fae7;
  --lightgreen-btn-hover: #c0ffe4;
  --lightgreen-btn-pressed: #83ebbf;
  --blue-link-btn: #1b63f0;
  --blue-link-btn-hover: #3d7fff;
  --blue-link-btn-pressed: #175ee9;
  --blue-customers-card: #637af2;
  --blue-blog-text: #5d74e4;
  --blue-text: #91a3ed;
  --lightblue-conference-bg: #fbfcff;
  --lightblue-tour-bg: #f8fbff;
  --lightblue-input-bg: #f3f6fc;
  --lightblue-slider-shadow: #e2edfb;
  --lightorange-featured-bg: #fff9f1;
  --lightorange-decor-square: #ffefef;
  --lightorange-featured-title: #f6f2e9;
  --lightorange-decor-circle: #fde7e6;
  --yellow-text: #f0c41b;
  --red-text: #fe5f60;
  --blue-study-bg: #6583ff;
  --yellow-study-bg: #f0c72d;
  --purple-study-bg: #9457f3;
  --red-study-bg: #fe5f60;
  --white-border: rgba(255, 255, 255, 0.3);
  --purple-start-bg: #45529c;
  --blue-point: #bad1ff;
}
