.footer {
  &__background {
    background-image: url(../assets/images/union.png);
    background-size: 745px no-repeat;
    background-position: center;
    background-position-y: 130px;
    background-repeat: no-repeat;
    z-index: -1;
  }
  &__link-list {
    padding-top: 20px;
  }
  &__subtitle {
    padding-bottom: 16px;
  }
  &__links {
    margin: 0px;
    :not(:last-child) {
      padding-bottom: 12px;
    }
  }
  &__logos {
    padding: 8px 0px 40px 0px;
    border-bottom: 1px solid var(--lightgray-border);
  }
  &__social {
    transition: stroke 1500ms ease-in-out;
    &:hover {
      --color1: #97f5cd;
      stroke: --color1;
    }
  }
  &__link {
    padding-right: 14px;
    &:hover {
      color: var(--lightgreen-btn);
      transition: 500ms;
    }
  }
  &__info {
    padding: 40px 0px 24px 0px;
  }
  &__rights-text {
    padding-bottom: 24px;
  }
  &__other-data {
    margin: 0px;
    :not(:last-child) {
      padding-bottom: 20px;
    }
  }
  &__item {
    :hover {
      color: var(--blue-link-btn);
      transition: 500ms;
    }
  }
}