.form {
  @media #{$tablet-sm} {
    align-items: center;
  }

  .invalid {
    border: 2px solid var(--red-study-bg);
  }

  display: flex;
  flex-direction: column;

  &__label-error {
    max-width: 415px;
    font-size: 12px;
    color: var(--blue-link-btn);
    margin-top: -12px;
    padding: 0 10px 10px;
  }

  &__input {
    width: 100%;
    padding-left: 12px;
    width: 100%;
    padding-left: 12px;
    margin-bottom: 16px;
    bottom: 32px;
    max-width: 415px;
    height: 44px;
    background-color: var(--lightblue-input-bg);
    border-radius: 22px;
    border: none;
    outline: none;

    @media #{$tablet-sm} {
      padding-left: 10px;
      min-width: 415px;
    }

    &::placeholder {
      color: var(--gray-basic-text);
      font-size: 14px;
    }

    &:focus {
      border: 2px solid var(--blue-link-btn);
    }

    &:valid {
      border: 1px solid var(--green-link-btn);
    }
  }

  &__submit {
    margin: 16px 0 84px 0;
  }
}
