@media (min-width: 375px) {
  .slick {
    &-list {
      overflow: hidden;
      padding: 24px 0px;
      max-width: 260px;
    }
  }
}

@media (min-width: 768px) {
  .slick {
    &-list {
      padding: 24px 15px;
      max-width: 572px;
    }
  }
}

@media (min-width: 990px) {
  .slick {
    &-list {
      max-width: 881px;
    }
  }
}

@media (min-width: 1440px) {
  .slick {
    &-list {
      max-width: 100%;
    }
  }
}
