.slick {
  &-list {
    overflow: hidden;
    padding: 24px 0;
    max-width: 220px;

    @media #{$phone-md} {
      max-width: 260px;
    }

    @media #{$tablet-sm} {
      padding: 24px 15px;
      max-width: 572px;
    }

    @media #{$tablet-md} {
      max-width: 881px;
    }

    @media #{$desktop-md} {
      max-width: 100%;
    }
  }
}
