*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  padding-left: 0px;
}

html:focus-within {
  scroll-behavior: smooth;
}


a {
  text-decoration: none;
  &:not([class]) {
    text-decoration-skip-ink: auto;
  }
}

img,
picture {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Montserrat";
  color: var(--gray-basic-text);
}

input.form__input::placeholder {
  color: var(--gray-basic-text);
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
