.wrapper {
  background-image: url("../assets/images/green-head-bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;

  @media (min-width: 768px) {
    background-position: right 0;
    background-size: auto;
  }

  @media (min-width: 1560px) {
    background-size: 50%;
  }
}

.container {
  padding: 0 24px;
  width: 100%;

  @media (min-width: 768px) {
    padding: 0 50px;
  }

  @media (min-width: 1440px) {
    margin: 0 auto;
    padding: 0;
    max-width: 1024px;
  }
}

.no-scroll {
  overflow: hidden;
}

.title {
  display: flex;

  ::after {
    content: "";
    display: inline-block;
    width: 60px;
    height: 2px;
    background-color: var(--blue-link-btn);
    margin-left: 24px;
    margin-bottom: 3px;
    margin-bottom: 3px;
  }
}
