$basic-text: #5c5c5c;
$blue-link-btn: #1b63f0;
$green-link-btn: #64be97;
$get-started: #97f5cd;
$customers-card: #637af2;
$blog-design: #5d74e4;
$blog-cards: #d6fae7;
$conference-bg: #fbfcff;
$featured-bg: #fff9f1;
$decor-elem: #ffefef;
$conference-text: #838383;