@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
:root {
  --black-featured-card: #000000cc;
  --black: #000;
  --black-header-bg: #00000033;
  --black-customer-square: #252222;
  --gray-basic-text: #5c5c5c;
  --gray-conference-text: #838383;
  --gray-decor-elem: #eaedf4;
  --gray-request-btn: #1c1c1c00;
  --lightgray-logo: #dedede;
  --lightgray-border: #5c5c5c1a;
  --white: #fff;
  --white-featured-text: #bfbfbf;
  --white-request-btn-hover: #ffffff26;
  --green-link-btn: #64be97;
  --green-slider-bg: #55b089;
  --green-player-shadow: #4bca678f;
  --lightgreen-btn: #97f5cd;
  --lightgreen-blog-bg: #d6fae7;
  --lightgreen-btn-hover: #c0ffe4;
  --lightgreen-btn-pressed: #83ebbf;
  --blue-link-btn: #1b63f0;
  --blue-link-btn-hover: #3d7fff;
  --blue-link-btn-pressed: #175ee9;
  --blue-customers-card: #637af2;
  --blue-blog-text: #5d74e4;
  --blue-text: #91a3ed;
  --darkblue-customer-square: #232846;
  --lightblue-conference-bg: #fbfcff;
  --lightblue-tour-bg: #f8fbff;
  --lightblue-input-bg: #f3f6fc;
  --lightblue-slider-shadow: #e2edfb;
  --lightblue-btn-border: #76a2ff;
  --lightorange-featured-bg: #fff9f1;
  --lightorange-decor-square: #ffefef;
  --lightorange-featured-title: #f6f2e9;
  --lightorange-decor-circle: #fde7e6;
  --blue-study-bg: #6583ff;
  --yellow-study-bg: #f0c72d;
  --purple-study-bg: #9457f3;
  --purple-quote: #3f4c9a;
  --darkpurple-customer-square: #3a0a3a;
  --red-study-bg: #fe5f60;
  --white-border: rgba(255, 255, 255, 0.3);
  --purple-start-bg: #45529c;
  --blue-point: #bad1ff;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Semi Bold"), local("Montserrat-SemiBold"), url("../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
}

h1 {
  font-size: 36px;
  line-height: 1.2225;
}

h2 {
  font-size: 26px;
  line-height: 1.385;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

h5 {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.334;
}

h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
}

p,
ul,
ol {
  font-size: 14px;
  line-height: 1.572;
  list-style: none;
}

a {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.57;
  color: inherit;
}

button,
.btn {
  font-weight: 700;
}

.bold-number {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.334;
}
.bold-number__blue {
  color: var(--blue-text);
}
.bold-number__yellow {
  color: var(--yellow-study-bg);
}
.bold-number__red {
  color: var(--red-study-bg);
}

.subtitle {
  color: var(--blue-link-btn);
  text-transform: uppercase;
}

.event__subtitle {
  color: var(--black);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.start__item-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.57;
}

.footer__subtitle {
  font-weight: 700;
}
.footer__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.572;
}
.footer__rights-text {
  font-weight: 600;
  color: var(--gray-basic-text);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  padding-left: 0px;
}

html {
  scroll-behavior: smooth;
}

*:hover {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  text-decoration: none;
}
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Montserrat";
  color: var(--gray-basic-text);
}

input.form__input::-moz-placeholder {
  color: var(--gray-basic-text);
  font-size: 14px;
}

input.form__input::placeholder {
  color: var(--gray-basic-text);
  font-size: 14px;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media (min-width: 320px) {
  .btn {
    padding: 12px 20px;
    font-size: 12px;
    line-height: 1.334;
    border-radius: 22px;
    border: none;
    background-color: var(--blue-link-btn);
    color: var(--white);
    transition-property: background-color;
  }
  .btn__blue:hover {
    background-color: var(--blue-link-btn-hover);
  }
  .btn__blue:active {
    background-color: var(--blue-link-btn-pressed);
  }
  .btn__blue:focus-visible {
    outline: 3px solid var(--lightblue-btn-border);
  }
  .btn__green {
    color: var(--black);
    background-color: var(--lightgreen-btn);
  }
  .btn__green:focus-visible {
    outline: 3px solid var(--green-slider-bg);
  }
  .btn__lightgreen:hover, .btn__green:hover {
    background-color: var(--lightgreen-btn-hover);
  }
  .btn__lightgreen:active, .btn__green:active {
    background-color: var(--lightgreen-btn-pressed);
  }
  .btn__lightgreen:focus-visible, .btn__green:focus-visible {
    outline: 3px solid var(--green-slider-bg);
  }
  .btn__request {
    background-color: var(--gray-request-btn);
    border: 1px solid var(--white);
  }
  .btn__request:hover {
    background-color: var(--white-request-btn-hover);
  }
  .btn__request:active {
    padding: 11px 19px;
    border: 2px solid var(--white);
  }
  .btn__request:focus-visible {
    outline: 2px solid var(--white);
  }
  .btn__submit {
    max-width: 415px;
    line-height: 1.334;
    background-color: var(--green-link-btn);
    box-shadow: 0px 5px 10px var(--green-player-shadow);
  }
  .btn__submit:hover {
    background-color: var(--lightgreen-btn);
  }
  .btn__submit:active {
    border-color: var(--green-link-btn);
    color: var(--green-link-btn);
    background-color: var(--white);
    transition: all 150ms ease-in-out;
    box-shadow: 0 0 10px 0 var(--green-link-btn inset), 0 0 10px 4px var(--green-link-btn);
  }
  .btn__submit:focus-visible {
    outline: 2px solid var(--green-slider-bg);
  }
  a.btn {
    display: inline-block;
  }
  .buttons-block {
    display: flex;
    gap: 20px;
  }
  .blog__point-btn {
    width: 40px;
    height: 40px;
    color: var(--blue-blog-text);
    background-color: var(--white);
    border: var(--white);
    border-radius: 50%;
    transition-property: border;
  }
  .blog__point-btn:hover {
    color: var(--blue-link-btn);
    box-shadow: 0px 5px 10px var(--lightblue-slider-shadow);
  }
  .blog__point-btn:active, .blog__point-btn_active {
    border: 1px solid var(--green-link-btn);
    box-shadow: none;
    width: 39px;
    height: 39px;
  }
  .blog__point-btn:focus-visible {
    outline: 3px solid var(--lightgray-logo);
  }
  .slider__btn,
.slick-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    background-color: var(--white);
    border-radius: 20px;
    border: none;
    box-shadow: 0px 5px 10px var(--lightblue-slider-shadow);
    transition-property: background-color;
    font-size: 0px;
  }
  .slider__btn:hover,
.slick-arrow:hover {
    background-color: var(--green-link-btn);
    --color1: var(--white);
    stroke: var(----color1);
  }
  .slider__btn:active,
.slick-arrow:active {
    background-color: var(--green-slider-bg);
    box-shadow: none;
  }
  .slider__btn:focus-visible,
.slick-arrow:focus-visible {
    outline: 3px solid var(--lightgray-logo);
  }
  .study__slide-next,
.slick-next {
    transform: scale(-1, 1);
  }
  .slick-disabled,
.slider__btn:disabled {
    opacity: 0.4;
  }
  .player {
    padding: 9px 6px 7px 10px;
    width: 40px;
    height: 40px;
    background-color: var(--green-link-btn);
    border-radius: 50%;
    border: 2px solid var(--white);
    box-shadow: 0px 5px 10px var(--green-player-shadow);
    transition-property: padding;
  }
  .player:hover {
    padding: 11px 6px 9px 10px;
    border: none;
  }
  .player:active {
    background-color: var(--green-slider-bg);
    box-shadow: none;
  }
  .player:focus-visible {
    border: none;
    outline: 4px solid var(--white);
  }
}
@media (min-width: 768px) {
  .btn {
    padding: 12px 24px;
  }
  .btn__request:active {
    padding: 11px 23px;
  }
  .btn__submit {
    padding: 12px 44px;
  }
}
@media (min-width: 320px) {
  .slick-list {
    overflow: hidden;
    padding: 24px 0px;
    max-width: 220px;
  }
}
@media (min-width: 375px) {
  .slick-list {
    max-width: 260px;
  }
}
@media (min-width: 768px) {
  .slick-list {
    padding: 24px 15px;
    max-width: 572px;
  }
}
@media (min-width: 990px) {
  .slick-list {
    max-width: 881px;
  }
}
@media (min-width: 1440px) {
  .slick-list {
    max-width: 100%;
  }
}
@media (min-width: 320px) {
  .form {
    display: flex;
    flex-direction: column;
  }
  .form .invalid {
    border: 2px solid var(--red-study-bg);
  }
  .form__label-error {
    max-width: 415px;
    font-size: 12px;
    color: var(--blue-link-btn);
    margin-top: -12px;
    padding: 0 10px 10px;
  }
  .form__input {
    width: 100%;
    padding-left: 12px;
    width: 100%;
    padding-left: 12px;
    margin-bottom: 16px;
    bottom: 32px;
    max-width: 415px;
    height: 44px;
    background-color: var(--lightblue-input-bg);
    border-radius: 22px;
    border: none;
    outline: none;
  }
  .form__input:focus {
    border: 2px solid var(--blue-link-btn);
  }
  .form__input:valid {
    border: 1px solid var(--green-link-btn);
  }
  .form__submit {
    margin: 16px 0px 84px 0px;
  }
}
@media (min-width: 768px) {
  .form {
    align-items: center;
  }
  .form__input {
    padding-left: 10px;
    min-width: 415px;
  }
}
@media (min-width: 320px) {
  .title {
    display: flex;
  }
  .title ::after {
    content: "";
    display: inline-block;
    width: 60px;
    height: 2px;
    background-color: var(--blue-link-btn);
    margin-left: 24px;
    margin-bottom: 3px;
    margin-bottom: 3px;
  }
}
@media (min-width: 320px) {
  .logo__main {
    cursor: pointer;
    fill: var(--blue-link-btn);
    transition-property: fill;
  }
  .logo__main:hover {
    fill: var(--black);
  }
}
@media (min-width: 320px) {
  .modal-wrapper {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  .modal-wrapper > .btn {
    padding: 12px 30px;
  }
  .modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .modal-window {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: 300px;
    height: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 2;
  }
  .opened-modal {
    display: flex;
  }
  .closed-modal {
    display: none;
  }
}
@media (min-width: 768px) {
  .modal-window {
    max-width: 500px;
    height: 400px;
  }
}
@media (min-width: 1440px) {
  .background-icons {
    max-width: 1440px;
    margin: auto;
    z-index: -2;
  }
}
@media (min-width: 320px) {
  .no-scroll {
    overflow: hidden;
  }
  .wrapper {
    background-image: url(../assets/images/green-head-bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
  }
  .container {
    padding: 0px 24px;
    width: 100%;
  }
  .header {
    background-color: var(--black-header-bg);
    position: sticky;
    top: 0px;
    z-index: 20;
  }
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px;
  }
  .header__nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header__nav-list {
    display: none;
  }
  .header__nav-item {
    transition-property: color;
    color: var(--white);
  }
  .header__nav-item:hover {
    color: var(--blue-link-btn);
  }
  .header__link {
    transition: color 1000ms ease-in;
  }
  .header__link_active {
    color: var(--blue-link-btn);
  }
  .header__link:hover {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__link:focus-visible {
    outline: none;
    border-bottom: 2px solid var(--white);
  }
  .header__burger-logo {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 18px;
  }
  .header .menu__mobile-input {
    display: none;
  }
  .header .menu__btn-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 18px;
    cursor: pointer;
  }
  .header .menu__btn {
    left: 3px;
  }
  .header .menu__btn::after {
    margin-top: 6px;
  }
  .header .menu__btn::before {
    margin-top: -6px;
  }
  .header .menu__btn_burger, .header .menu__btn_burger::before, .header .menu__btn_burger::after {
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    width: 20px;
    background-color: var(--blue-link-btn);
    border-radius: 2px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.5, 0.98);
  }
  .header .menu__btn_close, .header .menu__btn_close::before, .header .menu__btn_close::after {
    z-index: 21;
    content: "";
    position: absolute;
    right: 20px;
    display: none;
    background-color: var(--blue-link-btn);
    margin-top: 0;
  }
  .header .menu__btn_close::before {
    height: 2px;
    width: 20px;
    transform: rotate(405deg);
  }
  .header .menu__btn_close::after {
    height: 2px;
    width: 20px;
    transform: rotate(-405deg);
  }
  .header #menu-toggle:checked ~ * ul.header__nav-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 118px 24px;
    margin: 0px;
    top: 0px;
    left: 0px;
    background-color: var(--white);
    width: 100%;
    height: 100vh;
  }
  .header #menu-toggle:checked ~ * ul.header__nav-list :not(:last-child) {
    border-bottom: 1px solid rgba(61, 127, 255, 0.2);
  }
  .header #menu-toggle:checked ~ * a.header__link {
    color: var(--black);
    font-size: 26px;
    line-height: 1.385;
  }
  .header #menu-toggle:checked ~ * li.header__nav-item {
    padding: 32px 0px;
  }
  .header #menu-toggle:checked ~ * span.menu__btn_burger,
.header #menu-toggle:checked ~ * span.menu__btn_burger::after,
.header #menu-toggle:checked ~ * span.menu__btn_burger::before {
    transition: background-color 500ms ease-in;
    background-color: var(--black);
  }
  .header #menu-toggle:checked ~ * span.menu__btn_close,
.header #menu-toggle:checked ~ * span.menu__btn_close::after,
.header #menu-toggle:checked ~ * span.menu__btn_close::before {
    display: block;
  }
}
@media (min-width: 768px) {
  .wrapper {
    background-position: right 0px;
    background-size: auto;
  }
  .container {
    padding: 0px 50px;
  }
  .header__nav-wrapper {
    z-index: 1;
    gap: 29px;
  }
  .header__nav-list {
    display: flex;
    gap: 21px;
    margin: 0px;
  }
  .header .menu__mobile-input, .header .menu__btn, .header .menu__btn-container {
    display: none;
  }
}
@media (min-width: 1440px) {
  .container {
    margin: 0 auto;
    padding: 0px;
    max-width: 1024px;
  }
  .header__container {
    max-width: 850px;
  }
}
@media (min-width: 1560px) {
  .wrapper {
    background-size: 50%;
  }
}
@media (min-width: 320px) {
  .education__background {
    background-image: url(../assets/images/union.png);
    background-size: 745px;
    background-position-x: center;
    background-position-y: 120px;
    background-repeat: no-repeat;
    z-index: -1;
  }
  .education__container {
    padding: 0px;
  }
  .education__content {
    display: flex;
    flex-direction: column-reverse;
  }
  .education__illustration-img {
    -o-object-position: 0px -15px;
       object-position: 0px -15px;
    margin-top: -24px;
    z-index: 1;
  }
  .education__main-text, .education__logos {
    padding: 0px 24px;
    gap: 15px;
  }
  .education__description {
    padding-bottom: 40px;
  }
  .education__title {
    margin-top: -15px;
    padding-bottom: 32px;
  }
  .education__logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 15px;
    margin: 0px;
  }
  .education__logo-link:focus-visible {
    outline: none;
    border-bottom: 3px solid var(--lightgray-logo);
  }
  .education__logo-img {
    fill: var(--lightgray-logo);
    fill-rule: evenodd;
    clip-rule: evenodd;
    transition-property: fill;
  }
  .education__logo-img:hover {
    fill: var(--blue-link-btn);
  }
  .education__buttons {
    padding-bottom: 43px;
  }
}
@media (min-width: 768px) {
  .education__title {
    margin-top: 0px;
  }
  .education__main-text {
    padding: 0px 50px;
  }
  .education__logos {
    padding: 24px 0px 0px;
    justify-content: center;
  }
  .education__illustration-img {
    align-self: center;
    -o-object-position: 0px;
       object-position: 0px;
  }
}
@media (min-width: 1440px) {
  .education__background {
    background-position: 9px -63px;
  }
  .education__container {
    max-width: 850px;
  }
  .education__content {
    flex-direction: row;
    gap: 85px;
  }
  .education__main-text {
    padding: 112px 0px 0px;
  }
  .education__illustration-img {
    margin-right: -105px;
  }
  .education__logos {
    gap: 30px;
    justify-content: flex-start;
  }
}
@media (min-width: 320px) {
  .about__title {
    padding: 38px 0px 56px;
  }
  .about__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about__subtitle {
    padding: 19px 0px 6px 0px;
  }
  .about__description_first, .about__description_third {
    padding-bottom: 18px;
  }
  .about__description_second {
    padding-bottom: 40px;
  }
  .about__description_fourth {
    padding-bottom: 80px;
  }
}
@media (min-width: 768px) {
  .about__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 4%;
  }
  .about__item {
    width: 48%;
  }
  .about__title {
    padding: 86px 0px 56px;
  }
}
@media (min-width: 1440px) {
  .about__container {
    max-width: 850px;
  }
  .about__subtitle {
    padding: 18px 0px 6px 0px;
  }
  .about__content {
    justify-content: start;
    gap: 22px 28px;
  }
  .about__item {
    align-items: flex-start;
    max-width: 415px;
    text-align: start;
  }
}
@media (min-width: 320px) {
  .courses__container {
    padding: 0px 9.5px;
  }
  .courses__background {
    background-image: url(../assets/images/union.png);
    background-size: 745px;
    background-position-x: center;
    background-position-y: 40px;
    background-repeat: no-repeat;
    z-index: -1;
  }
  .courses__header {
    text-align: center;
  }
  .courses__title {
    padding: 6px 0px 30px 0px;
  }
  .courses__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
  }
  .courses__item {
    background-color: var(--black);
    position: relative;
    max-width: 220px;
    margin-right: 20px;
    border-radius: 8px;
  }
  .courses__item:focus-visible {
    outline: 3px solid var(--black);
  }
  .courses__avatar-img {
    position: absolute;
    transform: translate(25px, -50%);
    z-index: 2;
    border-radius: 50%;
  }
  .courses__card-img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 364px;
    border-radius: 8px;
    opacity: 0.7;
  }
  .courses__text-content {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0;
    z-index: 20;
    color: var(--white);
  }
  .courses__subtitle-card {
    padding: 0px 16px 9px 16px;
    color: var(--white);
  }
  .courses__title-card {
    padding: 0px 16px;
    margin-bottom: 15px;
    color: var(--white);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .courses__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 23px 20px 16px;
    border-top: 1px solid var(--white-border);
  }
  .courses__description .price {
    display: flex;
    align-items: center;
  }
  .courses__description .price__actually {
    padding-right: 10px;
  }
  .courses__description .price__old {
    text-decoration: line-through;
  }
  .courses__raiting {
    position: relative;
    display: flex;
  }
  .courses__stars {
    display: flex;
    gap: 1px;
  }
  .courses__stars_background {
    fill: var(--white);
  }
  .courses__stars_active {
    position: absolute;
    top: 3px;
    left: 0px;
    fill: #fdd22f;
  }
  .courses__stars-img {
    align-self: center;
  }
  .courses__reviews {
    padding-left: 3px;
  }
  .courses__reviews,
.courses .price__old {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.334;
  }
}
@media (min-width: 375px) {
  .courses__item {
    max-width: 260px;
  }
}
@media (min-width: 768px) {
  .courses__items {
    gap: 4px;
    justify-content: center;
  }
  .courses__subtitle {
    padding-top: 82px;
  }
}
@media (min-width: 990px) {
  .courses__item {
    max-width: 270px;
    min-width: 270px;
  }
}
@media (min-width: 1440px) {
  .courses__background {
    background-position: 17px 48px;
  }
  .courses__container {
    max-width: 988px;
  }
  .courses__items {
    margin-bottom: 40px;
  }
  .courses__item {
    transition-property: box-shadow;
  }
  .courses__item:hover {
    box-shadow: 0px 5px 15px rgba(27, 99, 240, 0.4);
    cursor: pointer;
  }
  .courses__title {
    padding-bottom: 54px;
  }
}
@media (min-width: 320px) {
  .tour__container {
    padding: 0px 0px 36px 0px;
    margin-bottom: 44px;
    background-color: var(--lightblue-tour-bg);
  }
  .tour__player {
    position: relative;
    background-image: url("../assets/images/two-girls-studying-tour.png");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 520px;
  }
  .tour__btn-play {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .tour__subtitle {
    padding: 40px 0px 6px 0px;
  }
  .tour__content {
    padding: 0px 24px;
  }
  .tour__title {
    padding-bottom: 24px;
  }
  .tour__description-text {
    padding-bottom: 12px;
  }
  .tour__description-list {
    margin: 0;
    padding: 0px 0px 12px 36px;
    position: relative;
  }
  .tour__list-item {
    padding-bottom: 12px;
  }
  .tour__list-item::before {
    content: "";
    position: absolute;
    margin-top: 8px;
    left: 8px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: var(--lightorange-decor-circle);
  }
  .tour__list-item :not(:last-child) {
    padding-bottom: 12px;
  }
}
@media (min-width: 768px) {
  .tour__container {
    padding: 0px;
  }
  .tour__player {
    margin: 0px;
  }
  .tour__content {
    padding: 50px;
  }
}
@media (min-width: 1440px) {
  .tour__container {
    display: flex;
    min-width: 100%;
    margin-bottom: 100px;
  }
  .tour__player {
    min-width: 730px;
  }
  .tour__content {
    padding: 16px 208px 66px 87px;
  }
  .tour__btn-play {
    top: 48%;
    left: 505px;
  }
  .tour__description-list {
    position: relative;
  }
  .tour__description-list::before {
    content: "";
    position: absolute;
    right: -130px;
    top: -29px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--lightorange-decor-square);
  }
  .tour__description-list::after {
    content: "";
    position: absolute;
    right: 10px;
    bottom: -31px;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--gray-decor-elem);
  }
}
@media (min-width: 320px) {
  .events {
    background-color: var(--lightblue-conference-bg);
  }
  .events__title {
    padding-top: 40px;
  }
  .events .conferences {
    padding-bottom: 40px;
  }
  .events .conferences__item {
    color: var(--gray-conference-text);
    padding: 41px 0px 9px 0px;
    border-bottom: 1px solid var(--lightgray-border);
  }
  .events .conferences__item_first {
    padding-top: 33px;
  }
  .events .event__list {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 24px;
         column-gap: 24px;
    row-gap: 8px;
    margin: 0px;
    padding: 15px 0px;
  }
  .events .event__item {
    display: flex;
    align-items: center;
  }
  .events .event__icon-img {
    margin-right: 8px;
  }
  .events .event__subtitle {
    text-align: center;
  }
  .events .event__subtitle:focus-visible {
    outline: 2px solid var(--gray-conference-text);
    border-radius: 5px;
  }
  .events .event__subtitle_featured {
    color: var(--white);
  }
  .events .featured {
    background-color: var(--lightorange-featured-bg);
    padding: 40px 8px 60px;
    position: relative;
    margin: 0px -24px;
  }
  .events .featured__big-title {
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.22;
    letter-spacing: 0.4em;
    color: var(--lightorange-featured-title);
    padding-bottom: 40px;
  }
  .events .featured .bold-number {
    padding-right: 6.5px;
  }
  .events .featured__duration-list {
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding-bottom: 24px;
  }
  .events .featured__duration-item {
    display: flex;
    align-items: center;
    padding-right: 30px;
  }
  .events .featured__card {
    position: relative;
    z-index: 1;
  }
  .events .featured__card-img-bg {
    border-radius: 8px;
    transition-property: box-shadow;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .events .featured__card-img-bg:hover {
    box-shadow: 0px 5px 15px rgba(27, 99, 240, 0.4);
  }
  .events .featured__subtitle {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--white);
  }
  .events .featured__description {
    position: absolute;
    bottom: 0px;
    left: 24px;
    right: 24px;
    z-index: 2;
    max-width: 280px;
    height: 156px;
    padding-top: 26px;
    background-color: var(--black-featured-card);
    cursor: pointer;
  }
  .events .featured__list {
    justify-content: center;
    padding: 14px 21.5px 40px 21.5px;
  }
  .events .featured__btn {
    position: absolute;
    bottom: -20px;
  }
}
@media (min-width: 375px) {
  .events .featured {
    padding: 40px 23.5px 60px;
  }
  .events .featured__big-title {
    text-align: start;
    font-size: 36px;
    margin-left: -8px;
  }
  .events .featured__duration-list {
    justify-content: flex-start;
  }
  .events .featured__duration-item {
    display: flex;
    align-items: center;
  }
  .events .featured__duration-item:nth-child(1) {
    padding-right: 44px;
  }
  .events .featured__duration-item:nth-child(2) {
    padding-right: 55px;
  }
}
@media (min-width: 768px) {
  .events__title {
    justify-content: center;
  }
  .events .event__list {
    justify-content: center;
  }
  .events .featured {
    margin: 0px -50px;
    padding: 50px;
  }
  .events .featured__duration-list {
    justify-content: center;
  }
  .events .featured__big-title {
    text-align: center;
  }
  .events .featured__card, .events .featured__card-img-bg, .events .featured__description {
    margin: auto;
  }
  .events .featured__btn {
    left: 50%;
    transform: translate(-50%);
  }
}
@media (min-width: 1440px) {
  .events__container {
    display: flex;
    justify-content: space-between;
    margin-left: calc((100% - 1024px) / 2);
    max-width: calc(100% - (100% - 1024px) / 2);
  }
  .events__title {
    justify-content: flex-start;
    padding-top: 68px;
  }
  .events .conferences {
    min-width: 502px;
  }
  .events .conferences .event__subtitle {
    text-align: start;
  }
  .events .conferences .event__list {
    justify-content: flex-start;
  }
  .events .featured {
    padding: 60px 115px 76px 0px;
    margin: 0px;
  }
  .events .featured__content {
    padding-left: 88px;
  }
  .events .featured__big-title {
    margin: 0px;
    padding-left: 18px;
    padding-bottom: 27px;
    max-width: 509px;
    text-align: start;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.219;
    letter-spacing: 24px;
    color: var(--lightorange-featured-title);
  }
  .events .featured__duration-list {
    justify-content: flex-start;
    padding-bottom: 40px;
  }
  .events .featured__card, .events .featured__card-img-bg, .events .featured__description {
    margin: 0px;
  }
  .events .featured__btn {
    left: auto;
    transform: translate(0%);
  }
}
@media (min-width: 320px) {
  .study__title {
    padding-bottom: 16px;
  }
  .study__description {
    text-align: center;
  }
  .study__select-wrapper {
    margin: 21px auto 7px;
  }
  .study__select {
    display: flex;
    width: 200px;
    height: 48px;
    margin: 21px auto 7px;
    padding: 14px 8px;
    border: none;
    border-radius: 22px;
    background-color: var(--lightblue-input-bg);
  }
  .study__select:active, .study__select:hover {
    outline: 1px solid var(--blue-link-btn);
  }
  .study__select:focus-visible {
    outline: 2px solid var(--blue-link-btn);
  }
  .study__list {
    transition: transform 1000ms ease-in-out;
    display: flex;
    margin: 0px;
  }
  .study__list-container {
    overflow: hidden;
    max-width: 217px;
    padding: 14px 0px;
  }
  .study__container {
    padding-top: 100px;
  }
  .study__slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -20px;
    padding-bottom: 66px;
  }
  .study__slide-img {
    pointer-events: none;
  }
  .study__item {
    margin: 0px 10px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition-property: box-shadow;
  }
  .study__item:hover {
    box-shadow: 0px 5px 10px var(--black-header-bg);
    cursor: pointer;
  }
  .study__item-img {
    opacity: 0.4;
    border-radius: 4px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .study__item-text {
    text-align: center;
    position: absolute;
    z-index: 2;
    color: var(--white);
  }
}
@media (min-width: 375px) {
  .study__slider {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .study__container {
    padding: 90px 10px 0px;
  }
  .study__list-container {
    max-width: 651px;
  }
  .study__title {
    justify-content: center;
  }
  .study__select-wrapper {
    margin: 32px auto 18px;
  }
  .study__slider {
    justify-content: space-around;
  }
  .study__description {
    padding: 0px 40px;
  }
}
@media (min-width: 1440px) {
  .study__container {
    padding: 80px 0px 0px;
  }
  .study__description {
    padding: 0px 200px;
  }
  .study__slider {
    justify-content: space-between;
    padding: 0px 27px;
  }
  .study__list-container {
    max-width: 868px;
  }
  .study__item {
    min-width: 197px;
  }
}
@media (min-width: 320px) {
  .customer__container {
    padding-bottom: 94px;
    background-image: url("../assets/images/green-bg.svg");
    background-repeat: no-repeat;
    background-size: 546px 409px;
    background-position: -72px 478px;
    overflow: hidden;
  }
  .customer__title {
    padding: 70px 0px 48px 0px;
  }
  .customer__card-img {
    position: absolute;
    top: 24px;
    left: 14px;
    border-radius: 24px;
    -o-object-fit: cover;
       object-fit: cover;
    max-height: 273px;
    transition: opacity 300ms ease-in;
  }
  .customer__card-img_opacity {
    opacity: 0%;
  }
  .customer__quotes-img {
    transition: fill 200ms ease-in;
    fill: var(--purple-quote);
  }
  .customer__blue-square {
    position: relative;
    width: 273px;
    height: 273px;
    background-color: var(--blue-customers-card);
    border-radius: 24px;
    transition: background-color 200ms ease-in;
  }
  .customer__description {
    padding: 28px 0px 4px 0px;
  }
  .customer__description-text {
    margin-bottom: 12px;
  }
  .customer__description-text_first {
    height: 44px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .customer__description-text_second {
    height: 66px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .customer__author {
    padding-bottom: 54px;
  }
  .customer__excerption {
    transition: opacity 100ms ease-in;
  }
  .customer__excerption_opacity {
    opacity: 0%;
  }
  .customer__points {
    display: flex;
    margin: 0px;
    gap: 5px;
  }
  .customer__point-btn {
    width: 10px;
    height: 10px;
    padding: 0px;
    background-color: var(--blue-point);
    border-radius: 50%;
    border: none;
    transition: background-color 200ms ease-in;
  }
  .customer__point-btn:hover, .customer__point-btn_active {
    background-color: var(--blue-link-btn);
  }
  .customer__point-btn:focus-visible {
    outline: 2px solid var(--blue-link-btn);
  }
}
@media (min-width: 375px) {
  .customer__card-img {
    top: 46px;
    left: 54px;
  }
}
@media (min-width: 768px) {
  .customer__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    background-size: auto;
    background-position: top left;
  }
  .customer__content {
    width: 45%;
  }
  .customer__title {
    padding-top: 0px;
  }
}
@media (min-width: 1440px) {
  .customer__container {
    justify-content: flex-start;
    gap: 178px;
    padding: 166px 0px 185px 208px;
    margin-right: calc((100% - 1024px) / 2);
    max-width: calc(100% - (100% - 1024px) / 2);
    background-position: 0px 62px;
  }
  .customer__content {
    max-width: 400px;
  }
  .customer__blue-square {
    min-width: 344px;
    min-height: 344px;
  }
  .customer__card-img {
    top: 58px;
    left: 68px;
    max-height: 344px;
  }
}
@media (min-width: 320px) {
  .start__content {
    padding: 40px 0px 55px;
  }
  .start__links {
    padding-bottom: 40px;
  }
  .start__background {
    background-image: url(../assets/images/tablet-design.jpg);
    background-position: center;
    z-index: 1;
  }
  .start__overflow {
    background-color: var(--purple-start-bg);
    opacity: 95%;
    color: var(--white);
    z-index: 5;
  }
  .start__subtitle {
    padding-bottom: 8px;
    color: var(--white);
  }
  .start__title {
    color: var(--green-link-btn);
  }
  .start__description {
    padding: 25px 0px 19px 0px;
  }
  .start__description-text {
    padding-bottom: 12px;
  }
  .start__links-title {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
  }
  .start__links-title-text {
    color: var(--white);
    padding-left: 8px;
  }
  .start__links-list {
    margin: 0px;
  }
  .start__item {
    border-bottom: 1px solid var(--white-border);
    padding: 12px 0px;
  }
  .start__item-img {
    fill: none;
    stroke: var(--white);
    margin-right: 13px;
  }
  .start__item-img:hover {
    stroke: var(--lightgreen-btn);
  }
  .start__item-link {
    display: flex;
    align-items: center;
    transition-property: color;
  }
  .start__item-link:hover {
    color: var(--lightgreen-btn);
  }
  .start__item-link:focus-visible {
    outline: 2px solid var(--white-border);
    border-radius: 5px;
  }
}
@media (min-width: 1440px) {
  .start__container {
    display: flex;
    justify-content: space-between;
  }
  .start__links, .start__content {
    width: 415px;
  }
  .start__content {
    padding: 63px 0px;
  }
  .start__links {
    padding: 88px 0px 74px;
  }
}
@media (min-width: 320px) {
  .blog__title {
    padding: 80px 0px 73px;
  }
  .blog__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .blog__cards {
    min-height: 572px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 44px;
    opacity: 100%;
    transition: opacity 100ms ease-in;
  }
  .blog__cards_opacity {
    opacity: 0%;
  }
  .blog__card {
    position: relative;
    background-color: var(--lightgreen-blog-bg);
    max-width: 415px;
    border-radius: 16px 16px 0px 16px;
    transition-property: box-shadow;
  }
  .blog__card:hover {
    box-shadow: 0px 5px 15px var(--lightgray-border);
    cursor: pointer;
  }
  .blog__card_delete {
    display: none;
  }
  .blog__card-event {
    display: flex;
    padding: 30px 0px 0px 4%;
    gap: 7px;
  }
  .blog__points {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    padding: 24px 10px 79px;
    gap: 22px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: var(--blue-blog-text);
  }
  .blog__points-container {
    margin: 0 auto;
    overflow: hidden;
  }
  .blog__illustration-img {
    display: block;
    position: absolute;
    top: -25px;
    right: 0px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 79%;
    height: 160px;
    border-radius: 5px;
  }
  .blog__avatar-img {
    border-radius: 50%;
  }
  .blog__vertical-text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 1px;
    line-height: 0.834;
    color: var(--blue-blog-text);
    display: inline-block;
    padding: 18px 8% 14px;
  }
  .blog__subtitle-text {
    min-height: 48px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .blog__read-link {
    display: inline-block;
    padding: 14px 21% 24px;
    line-height: 1.334;
    color: var(--black);
  }
  .blog__read-link:focus-visible {
    outline: none;
    border-bottom: 2px solid var(--black);
  }
}
@media (min-width: 375px) {
  .blog__points-container {
    width: 308px;
  }
}
@media (min-width: 768px) {
  .blog__content {
    margin: auto;
    max-width: 1000px;
  }
  .blog__cards {
    min-height: auto;
    flex-direction: row;
    justify-content: start;
    gap: 4%;
  }
  .blog__card {
    width: 48%;
  }
}
@media (min-width: 1440px) {
  .blog__title {
    padding: 100px 0px 39px;
  }
  .blog__cards {
    gap: 20px;
    margin-top: 34px;
  }
  .blog__card {
    width: 415px;
    height: 264px;
  }
  .blog__card-event {
    gap: 24px;
  }
  .blog__points-container {
    margin: 0;
    max-width: 94px;
    padding-bottom: 10px;
  }
  .blog__points {
    flex-direction: column;
    height: 310px;
    padding: 10px 27px;
  }
  .blog__content {
    flex-direction: row;
    max-width: 100%;
    padding-bottom: 57px;
  }
}
@media (min-width: 320px) {
  .footer__background {
    z-index: -1;
    background-image: url(../assets/images/union.png);
    background-size: 745px;
    background-position-x: center;
    background-position-y: 215px;
    background-repeat: no-repeat;
    z-index: -1;
  }
  .footer__link-list {
    padding: 17px 0px 3px 0px;
  }
  .footer__subtitle {
    padding-bottom: 16px;
  }
  .footer__links {
    margin: 0px;
  }
  .footer__links :not(:last-child) {
    padding-bottom: 12px;
  }
  .footer__logos {
    display: flex;
    padding: 7px 0px 31px 0px;
    gap: 16px;
  }
  .footer__social {
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--black);
    transition-property: stroke;
  }
  .footer__social:hover {
    stroke: var(--lightgreen-btn);
  }
  .footer__link {
    transition-property: color;
  }
  .footer__link:hover {
    color: var(--lightgreen-btn);
  }
  .footer__link:focus-visible, .footer__item-link:focus-visible {
    outline: 2px solid var(--gray-conference-text);
    border-radius: 5px;
  }
  .footer__info {
    padding: 40px 0px 16px;
    border-top: 1px solid var(--lightgray-border);
  }
  .footer__rights-text {
    padding-bottom: 24px;
  }
  .footer__other-data {
    margin: 0px;
  }
  .footer__other-data :not(:last-child) {
    padding-bottom: 17px;
  }
  .footer__item {
    line-height: 1.2;
    transition-property: color;
  }
  .footer__item:hover {
    color: var(--blue-link-btn);
  }
}
@media (min-width: 768px) {
  .footer__background {
    background-position: center;
    background-position-y: 130px;
    background-repeat: no-repeat;
  }
  .footer__references {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    text-align: center;
  }
  .footer__logo {
    align-self: center;
  }
  .footer__info {
    display: flex;
    justify-content: space-between;
  }
  .footer__other-data {
    display: flex;
    gap: 20px;
  }
}
@media (min-width: 1440px) {
  .footer__background {
    background-position: -45px -48px;
    background-repeat: no-repeat;
  }
  .footer__references {
    max-width: 850px;
    margin: 0 auto;
    text-align: start;
  }
  .footer__logo {
    margin-right: 63px;
    align-self: auto;
  }
  .footer__logos {
    padding: 0px;
  }
  .footer__link-list {
    padding: 0px;
  }
  .footer__link-list:last-child {
    padding-right: 10px;
  }
  .footer__subtitle {
    padding: 1px 0px 23px;
  }
}