.about {
  &__container {
    @media #{$desktop-md} {
      max-width: 850px;
    }
  }

  &__content {
    @media #{$tablet-sm} {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px 4%;
    }

    @media #{$desktop-md} {
      gap: 22px 28px;
    }
  }

  &__title {
    padding: 38px 0 56px;

    @media #{$tablet-sm} {
      padding: 86px 0 56px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media #{$tablet-sm} {
      width: 48%;
    }

    @media #{$desktop-md} {
      align-items: flex-start;
      max-width: 415px;
      text-align: start;
    }
  }

  &__subtitle {
    padding: 19px 0 6px 0;

    @media #{$desktop-md} {
      padding: 18px 0 6px 0;
    }
  }

  &__description {
    &_first,
    &_third {
      padding-bottom: 18px;
    }

    &_second {
      padding-bottom: 40px;
    }

    &_fourth {
      padding-bottom: 80px;
    }
  }
}
