.blog {
  &__title {
    padding: 80px 0 73px;

    @media #{$desktop-md} {
      padding: 100px 0 39px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media #{$tablet-sm} {
      margin: auto;
      max-width: 1000px;
    }

    @media #{$desktop-md} {
      flex-direction: row;
      max-width: 100%;
      padding-bottom: 57px;
    }
  }

  &__cards {
    min-height: 572px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 44px;
    opacity: 100%;
    transition: opacity 100ms ease-in;

    @media #{$tablet-sm} {
      min-height: auto;
      flex-direction: row;
      justify-content: start;
      gap: 4%;
    }

    @media #{$desktop-md} {
      gap: 20px;
      margin-top: 34px;
    }

    &_opacity {
      opacity: 0%;
    }
  }

  &__card {
    position: relative;
    background-color: var(--lightgreen-blog-bg);
    max-width: 415px;
    border-radius: 16px 16px 0 16px;
    transition-property: box-shadow;

    @media #{$tablet-sm} {
      width: 48%;
    }

    @media #{$desktop-md} {
      width: 415px;
      height: 264px;
    }

    &:hover {
      box-shadow: 0 5px 15px var(--lightgray-border);
      cursor: pointer;
    }

    &_delete {
      display: none;
    }
  }

  &__card-event {
    display: flex;
    padding: 30px 0 0 4%;
    gap: 7px;

    @media #{$desktop-md} {
      gap: 24px;
    }
  }

  &__points {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 24px 10px 79px;
    gap: 22px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: var(--blue-blog-text);

    @media #{$desktop-md} {
      flex-direction: column;
      height: 310px;
      padding: 10px 27px;
    }

    &-container {
      margin: 0 auto;
      overflow: hidden;

      @media #{$phone-md} {
        width: 308px;
      }

      @media #{$desktop-md} {
        margin: 0;
        max-width: 94px;
        padding-bottom: 10px;
      }
    }
  }

  &__illustration-img {
    display: block;
    position: absolute;
    top: -25px;
    right: 0;
    object-fit: cover;
    width: 79%;
    height: 160px;
    border-radius: 5px;
  }

  &__avatar-img {
    border-radius: 50%;
  }

  &__vertical-text {
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: 1px;
    line-height: 0.834;
    color: var(--blue-blog-text);
    display: inline-block;
    padding: 18px 8% 14px;
  }

  &__subtitle-text {
    min-height: 48px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__read-link {
    display: inline-block;
    padding: 14px 21% 24px;
    line-height: 1.334;
    color: var(--black);

    &:focus-visible {
      outline: none;
      border-bottom: 2px solid var(--black);
    }
  }
}
