@media (min-width: 320px) {
  .education {
    &__background {
      background-image: url(../assets/images/union.png);
      background-size: 745px;
      background-position-x: center;
      background-position-y: 120px;
      background-repeat: no-repeat;
      z-index: -1;
    }

    &__container {
      padding: 0px;
    }

    &__content {
      display: flex;
      flex-direction: column-reverse;
    }

    &__illustration-img {
      object-position: 0px -15px;
      margin-top: -24px;
      z-index: 1;
    }

    &__main-text,
    &__logos {
      padding: 0px 24px;
      gap: 15px;
    }

    &__description {
      padding-bottom: 40px;
    }

    &__title {
      margin-top: -15px;
      padding-bottom: 32px;
    }

    &__logos {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      row-gap: 15px;
      margin: 0px;
    }

    &__logo-link {
      &:focus-visible {
        outline: none;
        border-bottom: 3px solid var(--lightgray-logo);
      }
    }

    &__logo-img {
      fill: var(--lightgray-logo);
      fill-rule: evenodd;
      clip-rule: evenodd;
      transition-property: fill;

      &:hover {
        fill: var(--blue-link-btn);
      }
    }

    &__buttons {
      padding-bottom: 43px;
    }
  }
}

@media (min-width: 768px) {
  .education {
    &__title {
      margin-top: 0px;
    }

    &__main-text {
      padding: 0px 50px;
    }

    &__logos {
      padding: 24px 0px 0px;
      justify-content: center;
    }

    &__illustration-img {
      align-self: center;
      object-position: 0px;
    }
  }
}

@media (min-width: 1440px) {
  .education {
    &__background {
      background-position: 9px -63px;
    }

    &__container {
      max-width: 850px;
    }

    &__content {
      flex-direction: row;
      gap: 85px;
    }

    &__main-text {
      padding: 112px 0px 0px;
    }

    &__illustration-img {
      margin-right: -105px;
    }

    &__logos {
      gap: 30px;
      justify-content: flex-start;
    }
  }
}
