.education {
  &__background {
    background-image: url("../assets/images/union.png");
    background-size: 745px;
    background-position-x: center;
    background-position-y: 120px;
    background-repeat: no-repeat;
    z-index: -1;

    @media (min-width: 1440px) {
      background-position: 9px -63px;
    }
  }

  &__container {
    padding: 0;

    @media (min-width: 1440px) {
      max-width: 850px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: 1440px) {
      flex-direction: row;
      gap: 85px;
    }
  }

  &__illustration-img {
    object-position: 0 -15px;
    margin-top: -24px;
    z-index: 1;

    @media (min-width: 768px) {
      align-self: center;
      object-position: 0;
    }

    @media (min-width: 1440px) {
      margin-right: -105px;
    }
  }

  &__main-text {
    padding: 0 24px;

    @media (min-width: 768px) {
      padding: 0 50px;
    }

    @media (min-width: 1440px) {
      padding: 112px 0 0;
    }
  }

  &__logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 15px;
    margin: 0;
    gap: 15px;
    padding: 0px 24px;

    @media (min-width: 768px) {
      padding: 24px 0 0;
      justify-content: center;
    }

    @media (min-width: 1440px) {
      gap: 30px;
      justify-content: flex-start;
    }
  }

  &__description {
    padding-bottom: 40px;
  }

  &__title {
    margin-top: -15px;
    padding-bottom: 32px;

    @media (min-width: 768px) {
      margin-top: 0;
    }
  }

  &__logo {
    &-link {
      &:focus-visible {
        outline: none;
        border-bottom: 3px solid var(--lightgray-logo);
      }
    }

    &-img {
      fill: var(--lightgray-logo);
      fill-rule: evenodd;
      clip-rule: evenodd;
      transition-property: fill;

      &:hover {
        fill: var(--blue-link-btn);
      }
    }
  }

  &__buttons {
    padding-bottom: 43px;
  }
}
