.footer {
  &__background {
    z-index: -1;
    background-image: url("../assets/images/union.png");
    background-size: 745px;
    background-position-x: center;
    background-position-y: 215px;
    background-repeat: no-repeat;
    z-index: -1;

    @media #{$tablet-sm} {
      background-position: center;
      background-position-y: 130px;
      background-repeat: no-repeat;
    }

    @media #{$desktop-md} {
      background-position: -45px -48px;
      background-repeat: no-repeat;
    }
  }

  &__subtitle {
    font-weight: 700;
    padding-bottom: 16px;

    @media #{$desktop-md} {
      padding-bottom: 23px;
    }
  }

  &__references {
    @media #{$tablet-sm} {
      display: flex;
      justify-content: space-between;
      padding-bottom: 80px;
      text-align: center;
    }

    @media #{$desktop-md} {
      max-width: 850px;
      margin: 0 auto;
      text-align: start;
    }
  }

  &__links {
    margin: 0;

    :not(:last-child) {
      padding-bottom: 12px;
    }
  }

  &__logos {
    display: flex;
    padding: 7px 0 31px 0;
    gap: 16px;

    @media #{$desktop-md} {
      padding: 0;
    }
  }

  &__logo {
    @media #{$tablet-sm} {
      align-self: center;
    }

    @media #{$desktop-md} {
      margin-right: 63px;
      align-self: auto;
    }
  }

  &__social {
    fill: none;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--black);
    transition-property: stroke;

    &:hover {
      stroke: var(--lightgreen-btn);
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    transition-property: color;

    &-list {
      padding: 17px 0 3px 0;

      @media #{$desktop-md} {
        padding: 0;

        &:last-child {
          padding-right: 10px;
        }
      }
    }

    &:hover {
      color: var(--lightgreen-btn);
    }
  }

  &__link,
  &__item-link {
    &:focus-visible {
      outline: 2px solid var(--gray-conference-text);
      border-radius: 5px;
    }
  }

  &__info {
    padding: 40px 0 16px;
    border-top: 1px solid var(--lightgray-border);

    @media #{$tablet-sm} {
      display: flex;
      justify-content: space-between;
    }
  }

  &__rights-text {
    padding-bottom: 24px;
    font-weight: 600;
    color: var(--gray-basic-text);
  }

  &__other-data {
    margin: 0;

    @media #{$tablet-sm} {
      display: flex;
      gap: 20px;
    }

    &:not(:last-child) {
      padding-bottom: 17px;
    }
  }

  &__item {
    line-height: 1.2;
    transition-property: color;

    &:hover {
      color: var(--blue-link-btn);
    }
  }
}
