@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Semi Bold"), local("Montserrat-SemiBold"),
    url("../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
}

h1 {
  font-size: 36px;
  line-height: 1.2225;
}

h2 {
  font-size: 26px;
  line-height: 1.385;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

h5 {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.334;
}

h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
}

p,
ul,
ol {
  font-size: 14px;
  line-height: 1.572;
  list-style: none;
}

a {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.57;
  color: inherit;
}

button, .btn {
  font-weight: 700;
}

.bold-number {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.334;
  &__blue {
    color: $blue-text;
  }
  &__yellow {
    color: $yellow-text;
  }
  &__red {
    color: $red-text;
  }
}

.subtitle {
  color: $blue-link-btn;
  text-transform: uppercase;
}

.footer {
  &__subtitle {
    font-weight: 700;
  }

  &__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.572;
  }

  &__rights-text {
    font-weight: 600;
    color: $gray-basic-text;
  }
}